.listProducts{

    display: flex;
    flex-wrap: wrap;

}

.inputContainer {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .inputMessage {
    width: 100%;
    padding: 5px;
  }
  
  .titlePage {
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }
  
  .productsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: auto;
    justify-content: center;
    gap: 20px;
  }
  
  .productCard {
    width: 100%;
    height: fit-content;
    background-color: #ffff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.156);
  }
  
  .productImg {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }
  
  .productTitle {
    font-weight: bold;
  }
  
  .productDescription {
    font-size: 12px;
    font-weight: 600;
  }
  
  .productPrice {
    font-size: 16px;
    font-weight: 600;
  }
  
  .productCategory {
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    border: 2px solid black;
    padding: 5px 0px;
  }
  
  .productButton {
    background-color: black;
    color: white;
    padding: 4px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .productsPaginate {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .paginateLeftArrow {
    font-size: 25px;
  }
  
  .paginateIndexContainer {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    text-align: center;
  }
  
  .paginateRightArrow {
    font-size: 25px;
  }
  
  .cartTitlePage {
    margin-top: 20px;
    text-align: center;
  }
  
  .cartProductsContainer {
    margin: 0 auto;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cartProduct {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .cartProductImg {
    width: 100px;
  }